.vs/stortrutWebsite.slnx/config/applicationhost.config
.vs/stortrutWebsite.slnx/FileContentIndex/b33bbf27-ff76-4259-803c-1ce3b4993e4f.vsidx
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/CodeChunks.db
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/CodeChunks.db-shm
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/SemanticSymbols.db
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/CodeChunks.db-wal
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/SemanticSymbols.db-wal
.vs/stortrutWebsite/CopilotIndices/18.3.494.57194/SemanticSymbols.db-shm
.vs/stortrutWebsite.slnx/FileContentIndex/20904b05-208e-448a-bc61-18fa1e0279f9.vsidx
.vs/stortrutWebsite.slnx/FileContentIndex/693148c5-6600-48f6-9299-091d61b1250b.vsidx
.vs/stortrutWebsite.slnx/FileContentIndex/b821bab5-08b5-46a0-971a-06fe57b00c86.vsidx
.vs/slnx.sqlite
.vs/stortrutWebsite.slnx/FileContentIndex/ea143c4f-8c43-4d15-829d-0eefe3df6251.vsidx
.vs/stortrutWebsite.slnx/FileContentIndex/ed301c5f-bc1f-4dad-bb85-f991447761da.vsidx
.vs/stortrutWebsite.slnx/FileContentIndex/a30464b5-e70f-4bcc-b343-e1400e13ce56.vsidx
