@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  background: #f4e7d3;
  font-family: 'Georgia', serif;
  color: #3e2f1c;
  margin: 40px;
}

.container {
  width: 100%;
  max-width: 1000px;
  /* Fixed max width */
  padding: 20px;
  background-color: #fff8ee;
  border-radius: 1px;
  box-sizing: border-box;
}

.title {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-size: 60px;
  color: #7b4e00;
  text-shadow: 2px 2px 0 #d4af37;
  border-bottom: 3px solid #d4af37;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

p {
  max-width: 1000px;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 1em;
}


p+p+a+p+a+p+a+p {
  border-top: 1px dashed #d4af37;
  padding-top: 10px;
}

a {
  color: #b35e00;
  font-weight: 600;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #7b4e00;
  text-decoration: none;
  cursor: pointer;
}







.article-content {
  position: relative;
  display: flex;
  justify-content: center;
  /* Center the main content horizontally */
}


/*---- Karaktärs-data --------------------------------------*/
.character-box {
  float: right;
  margin: 0 0 20px 20px; /* margin-left creates space from the text */
  background: #fdfcf8;
  padding: 20px;
  border-radius: 2px;
  border: 2px solid #bbb;
  box-sizing: border-box;
}


.character-section {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.character-section strong {
  display: inline-block;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .character-box {
    max-width: 100%;
  }
}

/* -------------------------------------- */