.all-review-data-holder{
  display: inline-block;
  vertical-align: top;
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  margin: 6px;
}

.all-review-data-holder:hover{
    cursor: pointer;
    transform: scale(1.03);
}



.movie-title{
  display: block;
  background-color: rgba(136, 136, 136, 0);
  margin: 5px;
  font-weight: bold;

  height: 35px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.movie-poster{
  display: block;
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}






.reviews-holder{
  background-color: rgba(136, 136, 136, 0);
  border-radius: 10%;
  margin: 8px;
}

.review-holder{
  background-color: rgba(128, 128, 128, 0);
  margin:0;
}


.review-name,
.review-score{
  margin-top:0px;
  margin-bottom: 0px;
}


.review-name{
  display: inline-block;
  background-color: rgba(255, 0, 0, 0);
  font-weight: bold;
  margin-left: 10px;
}

.review-score{
  display: inline-block;
  background-color: rgba(0, 0, 255, 0);
}






.star-rating {
  text-align: left;
  display: inline-block;

  --star-size: 24px;
  --star-color-bg: #0c0027;
  --star-color-fg: rgb(255, 166, 0);

  position: relative;
  font-family: monospace;
  font-size: var(--star-size);
  line-height: 1;
  width: calc(var(--star-size) * 5);
  height: var(--star-size);
  color: var(--star-color-bg);
  user-select: none;
}

.star-rating .star-fill {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--star-color-fg);
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}