body{
  background-color: rgb(97, 73, 73);
}


p{
  color: white;
}


#top-bar {
  display: flex;
  align-items: flex-start;
}

#search-container {
  vertical-align: top;
  display: inline-block;
  width: 266px;

    margin-bottom: 5px;

}

#search-input {
  box-sizing: border-box;
  width: 266px;
  padding: 8px;
  font-size: 16px;
}

#dropdown {
  position: absolute;
  width: 266px;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  display: none;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #eee;
}

.home-button{
  vertical-align: top;
  display: inline-block;
  background-color: rgb(255, 215, 178);
  cursor: pointer;
  font-weight: bold;

  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;

  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;  
  padding-bottom: 9px;

}
