#search-container {
    display: inline-block;
  width: 250px;
}

#search-input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
}

#dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  display: none;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #eee;
}

.home-button{
  display: inline-block;
  background-color: rgb(255, 215, 178);
  cursor: pointer;
  margin-left: 20px;
}
